  <div class="container">
    <h1>Список книг</h1>
    <div class="row">
      <ng-container *ngFor="let book of result">
        <div class="col-md-4 text-center">
          <div class="well">
        <span class="glyphicon book-icon glyphicon-book" aria-hidden="true"></span><br>
        <a [routerLink]="['/authorlist',book.authorId]" >{{book.author}}</a><br>
        <a [routerLink]="['/booklist',book.id]">{{book.title}}</a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

