<div class="container">
  <h1>Список авторов</h1>
  <div class="row row-eq-height">
    <ng-container *ngFor="let author of authorInfo">
      <div class="col-md-12 text-center">
        <div class="well">
          <a class="author-name" [routerLink]="['/authorlist',author.id]">{{author.name}}</a>
          <p>Книги:</p>
          <ul class="text-left" *ngFor="let book of author.books">
            <li><a [routerLink]="['/booklist',book.id]">{{book.title}}</a></li>
          </ul>
        </div>
      </div>
    </ng-container>
  </div>
</div>

